.form {
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.progress {
    height: 20px;
    width: 25%;
    margin: 20px 0;
}

input { 
    padding: 11px;
    border: 1px solid grey;
    border-radius: 7px;
    background-color: white;
    height: 20px;
    width: 25%;
    margin: 15px 0 0 0;
}


label {
    font-weight: bold;
    font-size: 24px
}
