.App {
  text-align: left;
  margin: 50px 80px;
  font-size: 1rem
}

/* h1 {
  color: #0c0a09; #a6a19e
} */
p {
  color: #0c0a09
}

button {
  background-color: #0c0a09;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

img {
  margin-bottom: 20px
}

